.App {
  text-align: center; }
  .App button {
    font-size: 13px; }

.App-header {
  background-color: #222;
  padding: 10px;
  margin-top: 10px;
  color: white; }

.EvolveButtonContainer {
  display: flex; }
  .EvolveButtonContainer label {
    margin-right: 20px; }

.CurrentQuery {
  margin: 30px 14% 10px 14%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  word-wrap: break-word; }

.PokemonSelection {
  text-align: left; }

.SelectionButtons {
  margin-bottom: 10px; }
  .SelectionButtons button {
    margin-right: 3px;
    margin-bottom: 3px; }

.SelectionLabel {
  display: inline-block;
  width: 125px;
  font-size: small; }

.SelectionLabelBlurb {
  margin-bottom: 15px;
  font-size: small;
  font-style: italic; }

.LanguageSelect {
  margin-bottom: 20px;
  margin-top: 5px; }
  .LanguageSelect .LanguageSelectLabel {
    margin-right: 10px; }

ul.QueryList {
  list-style-type: none; }
  ul.QueryList li > label {
    padding-left: 10px; }

.SelectionCheckbox-1 {
  margin-left: 0px;
  margin-top: 15px; }

.SelectionCheckbox-2 {
  margin-left: 30px; }

.SelectionCheckbox-3 {
  margin-left: 60px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
