@media only screen and (max-width: 1000px) {
  div.CurrentQuery {
    margin-top: 15px; }
  button.ClickToCopy {
    font-size: 20px; }
  .Main-body h4 {
    font-size: 16px; }
  .SelectDeselectButtons table {
    font-size: 16px; }
    .SelectDeselectButtons table td.EvolutionHeader {
      padding: 8px 10px 0 0; }
    .SelectDeselectButtons table td.EvolutionSelection {
      padding: 0 5px 0 0; }
    .SelectDeselectButtons table button.EvolutionSelectionButton {
      font-size: 16px; }
  .PreCreatedQueryLabel {
    font-size: 16px; }
  .ToggleContainer select.LanguageSelectSelect {
    font-size: 16px;
    padding: 2px;
    border-radius: 5px; }
  .ToggleContainer label.ToggleContainerLabel, .ToggleContainer label.LanguageSelectLabel {
    font-size: 16px; }
  .ToggleContainer label.CheckboxesOrButtonsToggle {
    font-size: 16px; }
  ul.QueryList .SelectionLabelBlurb {
    font-size: 10px; }
  .Footer {
    font-size: 11px; } }

.App {
  text-align: center; }

button.ClickToCopy {
  border-radius: 5px;
  padding: 5px 10px; }

hr {
  margin: 15px 0; }

.App-header {
  background-color: #222;
  padding: 10px;
  margin-top: 10px;
  color: white; }

.ToggleContainer {
  display: flex;
  margin-bottom: 5px; }
  .ToggleContainer label {
    margin-top: 2px; }
  .ToggleContainer .LanguageSelectLabel {
    width: 135px; }
  .ToggleContainer .CheckboxesOrButtonsToggle {
    font-size: 16px;
    margin-right: 10px; }
  .ToggleContainer .ToggleContainerLabel {
    font-size: 16px;
    width: 115px;
    margin-right: 20px; }

.CurrentQuery {
  margin: 30px 14% 10px 14%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  word-wrap: break-word; }

.PokemonSelectionContainer {
  margin-top: 30px;
  text-align: left; }

.SelectDeselectButtons table td.EvolutionHeader {
  padding-right: 5px; }

.SelectDeselectButtons table .EvolutionSelectionButton {
  padding: 5px;
  border-radius: 5px; }

.SelectDeselectButtons button {
  margin-right: 3px;
  margin-bottom: 3px; }

.SelectionLabel {
  display: inline-block;
  width: 125px;
  font-size: 14px; }

.SelectionLabelBlurb {
  margin-bottom: 10px;
  font-size: 12px;
  font-style: italic; }

.LanguageSelect {
  margin: 20px 0; }

.QueryList {
  list-style-type: none; }
  .QueryList li > label {
    padding-left: 10px; }

.PokemonGeneration {
  margin-bottom: 20px; }
  .PokemonGeneration .PokemonGenerationTitle {
    font-size: 24px;
    margin: 20px 0; }

.PokemonFamilyButtons {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 2px;
  display: inline-grid;
  margin: 3px; }

.PokemonSelectionButton {
  border-radius: 10px;
  padding: 3px; }
  .PokemonSelectionButton:focus {
    outline: 0;
    border: 3px solid lightblue;
    margin-left: 0px; }
  .PokemonSelectionButton-selected {
    background-color: lightblue; }
  .PokemonSelectionButton-notSelected {
    background-color: white; }

.PokemonSelectionCheckbox-1 {
  margin-left: 0px;
  margin-top: 15px; }

.PokemonSelectionCheckbox-2 {
  margin-left: 30px; }

.PokemonSelectionCheckbox-3 {
  margin-left: 60px; }

.PokemonIcon {
  height: 32px;
  width: 32px; }

.Footer {
  margin-bottom: 10px; }
