@media only screen and (max-width: 1000px) {
  div.CurrentQuery {
    margin-top: 15px;
  }

  button.ClickToCopy {
    font-size: 20px;
  }

  .Main-body h4 {
    font-size: 16px;
  }

  .SelectDeselectButtons table {
    font-size: 16px;

    td.EvolutionHeader {
      padding: 8px 10px 0 0;
    }

    td.EvolutionSelection {
      padding: 0 5px 0 0;
    }

    button.EvolutionSelectionButton {
      font-size: 16px;
    }
  }

  .PreCreatedQueryLabel {
    font-size: 16px;
  }

  .ToggleContainer {
    select.LanguageSelectSelect {
      font-size: 16px;
      padding: 2px;
      border-radius: 5px;
    }

    label.ToggleContainerLabel, label.LanguageSelectLabel {
      font-size: 16px;
    }

    label.CheckboxesOrButtonsToggle {
      font-size: 16px;
    }
  }

  div.PokemonFamilyButtons {
    padding: 1px;
  }

  ul.QueryList .SelectionLabelBlurb {
    font-size: 10px;
  }

  .Footer {
    font-size: 11px;
  }
}

.App {
  text-align: center;
}

button.ClickToCopy {
  border-radius: 5px;
  padding: 5px 10px;
}

hr {
  margin: 15px 5px;
  height: 1px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  margin-top: 10px;
  color: white;
}

.ToggleContainer {
  display: flex;
  margin-bottom: 5px;

  label { margin-top: 2px; }

  .LanguageSelectLabel {
    width: 135px;
  }

  .CheckboxesOrButtonsToggle {
    font-size: 16px;
    margin-right: 10px;
  }

  .ToggleContainerLabel {
    font-size: 16px;
    width: 115px;
    margin-right: 20px;
  }

}

.CurrentQuery {
  margin: 30px 14% 10px 14%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  word-wrap: break-word;
}

.PokemonSelectionContainer {
  margin-top: 30px;
  text-align: left;
}

.SelectDeselectButtons {
  table {
    td.EvolutionHeader {
      padding-right: 5px;
    }

    .EvolutionSelectionButton {
      padding: 5px;
      border-radius: 5px;
    }
  }

  button {
    margin-right: 3px;
    margin-bottom: 3px;
  }
}

.SelectionLabel {
  display: inline-block;
  width: 125px;
  font-size: 14px;
}

.SelectionLabelBlurb {
  margin-bottom: 10px;
  font-size: 12px;
  font-style: italic;
}

.LanguageSelect {
  margin-bottom: 7px;
}

.QueryList {
  list-style-type: none;
  li > label {
    padding-left: 10px;
  }
}

.PokemonGeneration {
  margin-bottom: 20px;

  .PokemonGenerationTitle {
    font-size: 24px;
    margin: 20px 0;
  }
}

.PokemonFamilyButtons {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 2px;
  display: inline-grid;
  margin: 3px;
}

.PokemonSelectionButton {
  border-radius: 10px;
  padding: 3px;

  &:focus {
    outline: 0;
    border: 3px solid lightblue;
    margin-left: 0px;
  }

  &-selected {
    background-color: lightblue;
  }

  &-notSelected {
    background-color: white;
  }
}

.PokemonSelectionCheckbox {
  &-1 { margin-left: 0px; margin-top: 15px; }
  &-2 { margin-left: 30px; }
  &-3 { margin-left: 60px; }
}

.PokemonIcon {
  height: 32px;
  width: 32px;
}

.Footer { margin-bottom: 10px; }
