.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.CurrentQuery {
  margin: 20px 25% 50px 25%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.PokemonSelection {
  text-align: left;
}

ul.PokemonList {
  list-style-type: none;
  li > label {
    padding-left: 10px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
