.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.CurrentQuery {
  margin: 30px 15% 10px 15%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.PokemonSelection {
  text-align: left;
}

.SelectionButtons {
  margin-bottom: 10px;
}

ul.QueryList {
  list-style-type: none;
  li > label {
    padding-left: 10px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
